/*Selector universal*/

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #141662;
}

/*Selector id*/

#contenedor {
	width: 1300px;
	height: 1320px;
	background-color: #141662;
	max-width: 0 auto;
	border-radius: 5px;
}

#encabezado {
	height: 10%;
	background-color: #ccc;
	margin: 1em;
	border-radius: 5px;
	text-align: center;
	padding: 0 50px;
}

#encabezado h1 {
	padding: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu {
	height: 5%;
	background-color: #00c3ff;
	margin: 1em;
	border-radius: 5px;
}

#contenido {
	height: 70%;
	width: 61%;
	background-color: coral;
	margin: 0.5em;
	display: inline-block;
	border-radius: 5px;
}

#fueraSeccion {
	height: 70%;
	width: 36%;
	background-color: cadetblue;
	margin: 0.5em;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
}

#pie {
	height: 5%;
	background-color: crimson;
	border-radius: 1em;
	margin: 1.5em;
	text-align: center;
	padding: 5px;
}

#pie h4 {
	padding: 15px;
	font-size: 30px;
}

/*Selector de clase*/

.texto {
	text-align: justify;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	padding: 5px 25px;
}

.img {
	width: 300px;
	border-radius: 10px;
	padding: 10px 250px;
	justify-items: center;
}

.encabezado-articulo {
	padding: 10px 10px;
	text-align: center;
	background-color: #333;
	color: white;
	margin: 1em 2em;
	border-radius: 5px;
}

/*Selector de etiqueta html*/
ul {
	text-align: center;
	padding: 10px;

}

li {
	display: inline;
	padding: 10px 30px;
	margin: 3em;
}

li a {
	color: black;
	text-decoration: none;
	list-style: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	height: auto;
	padding: 30px 25px;
	font-weight: bold;
}

li a:hover {
	color: crimson;
	text-decoration: none;
	list-style: none;

}

.encabezado-aside {
	padding: 10px 10px;
	text-align: center;
	background-color: #333;
	color: white;
	margin: 1em 2em;
	border-radius: 5px;
}

.menu-aside {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	padding: 0 25px;
}

.lista-aside {
	padding: 10px;
}

.lista-aside li {
	display: flex;
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	padding: 0 2px;
	list-style: square;
}